{% extends "base.html" %}
{% block title %}Shorten URL{% endblock %}

{% block content %}
<form action="#", method="post">
    <label for="url">Enter an https:// URL:</label>

    <input type="url" name="url_nm" id="url"
       placeholder="https://example.com"
       pattern="https://.*" size="50"
       required>
    <br>
    <input type="submit" value="Submit" class="btn btn-primary">
</form>
<hr>
<div class="text-center">
    <a href="http://127.0.0.1:5000/all_urls"><button type="button" class="btn btn-outline-success">ALL URLs</button></a>
</div>
{% endblock %}